# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Test/tool cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editors
.vscode/
.idea/

# Build files
build/
dist/
*.egg-info/
